<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    Aqui chamamos o nosso arquivo css externo
    <link
      rel="stylesheet"
      type="text/css"
      href="../engrenagem/engrenagem.component.scss"
    />
  </head>
  <body>
    <button mat-button>Home</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above"> </mat-menu>

    <button mat-button>Galeria</button>
    <mat-menu #belowMenu="matMenu" yPosition="below"> </mat-menu>

    <button mat-button>Profissionais</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before"> </mat-menu>

    <button mat-button><a routerLink="/orcamento">Orçamentos</a></button>
    <mat-menu #afterMenu="matMenu" xPosition="after"> </mat-menu>

    <button mat-button mat-raised-button (click)="openDialog()">Cadastrar Usuário</button>
    <mat-menu #afterMenu="matMenu" xPosition="after"> </mat-menu>
  </body>
</html>
<router-outlet></router-outlet>
