  <header>
    <mat-toolbar>
      <span>
        <p mat-button routerLink="/home">Home</p>
        <p mat-button routerLink="/agendamento">Agendamento</p>
        <p mat-button routerLink="/orcamento">Orçamentos</p>
      </span>
      <div class="btn">
        <button mat-button mat-raised-button (click)="openDialog()">
          Login
        </button>
        <button mat-button mat-raised-button (click)="openDialog()">
          Cadastre-se
        </button>
      </div>
    </mat-toolbar>
  </header>
<section>
  <h1>O QUE PRECISA SER DEFINIDO PELO GRUPO!!!!</h1>
</section>
  <body>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide
        ><img src="../../assets/beneficios.jpg" alt=""
      /></ng-template>
      <ng-template carouselSlide
        ><img src="../../assets/beneficios.jpg" alt=""
      /></ng-template>
      <ng-template carouselSlide
        ><img src="../../assets/beneficios.jpg" alt=""
      /></ng-template>
    </owl-carousel-o>
  </body>
<router-outlet></router-outlet>
