mat-toolbar {
  background-color: #a0a0a0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

span {
  display: flex;
  flex-direction: row;
  gap: 50px;
  // font-family: "Marvel";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

p {
  cursor: pointer;
  text-decoration: none;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  border-radius: 7px;
  margin-right: 5px;
}

section{
  align-items: center;
  height: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

// .container {
//   display: ;

// }

.item {
  background-color: #a0a0a0;
  width: 50%;
  height: 55%;
  border-radius: 10px;
  align-content: center;
  align-items: center;
  display: inline;
  justify-content: center;
}

.banner {
  width: 50%;
  align-items: center;
  margin-left: 25%;
  border-radius: 8px;
}

.ng-star-inserted {
  border-radius: 8px;
}

.profissionais {
  background-color: #a0a0a0;
  width: 50%;
  height: 55%;
  border-radius: 10px;
  align-content: center;
  align-items: center;
  display: inline;
  justify-content: center;
}
