
<!DOCTYPE HTML>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
     <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css"  href="../engrenagem/engrenagem.component.scss" />
    <!--[if lte IE 8]>
 <![endif]-->
</head>
<body>
<nav>
  <ul class="menu">
		<li><a href="#">Home</a></li>
		<li><a href="#">História</a></li>
	  		<li><a href="#">Tatuadores</a>
          <ul>
            <li><a href="#">Galeria de Fotos</a></li>
            <li><a href="#">Profissionais</a></li>

          </ul>
			  </li>
        <li><a href="#">Piercing</a>
          <ul>
            <li><a href="#">Galeria de Fotos</a></li>
            <li><a href="#">Profissionais</a></li>

          </ul>
			  </li>
		<li><a href="#">Orçamentos</a></li>
		<li><a href="#">Contato</a></li>
</ul>
</nav>
<div class="btn">
  <button mat-button (click)="openDialog()">Action</button>

</div>
</body>
</html>
<router-outlet></router-outlet>
