mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background: linear-gradient(#a0a0a0, #ffffff);
  width: 180px;
}

mat-icon {
  margin-right: 6px;
  cursor: pointer;
}

#icon {
  color: #ffffff;
}

.icon {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.text {
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

mat-toolbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #a0a0a0;
}

mat-stepper {
  background-color: #e0e0e0;
}

mat-step {
  background-color: #ffffff;
}

mat-expansion-panel {
  margin-bottom: 5px;
  background-color: #e0e0e0;
}

body {
  background: linear-gradient(#7d7a7a, #a0a0a0, #ffffff);
}

h1 {
  padding: 15px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.container {
  display: flex;
  gap: 25%;
}

input.mat-input-element {
  margin-top: 3px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
}

#data {
  width: 25%;
}

#hora {
  width: 25%;
}

.titulo {
  margin-left: 8%;
  margin-top: 1%;
  text-transform: uppercase;
}

.bt {
  display: flex;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example-card {
  width: 50%;
  background-color: #e0e0e0;
}

.buttons {
  display: flex;
  justify-content: space-between;

  .changes {
    display: flex;
    gap: 10px;
  }

  .onedit:hover {
    background-color: rgb(233, 233, 7);
    color: gray;
  }

  .next:hover {
    background-color: #c3bebe;
    color: white;
  }

  .ondelete:hover {
    background-color: red;
    color: white;
  }

  #next {
    margin-bottom: 1mm;
  }

  .previous:hover {
    background-color: #c3bebe;
    color: white;
  }

  #previous {
    margin-bottom: 2px;
  }

  .submit:hover {
    background-color: #3f51b5;
    color: white;
  }
}

button:hover {
  color: white;
  background-color: #7c7c7c;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: gray !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: gray !important;
}
