<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <p class="icon text" routerLink="/dashboard">
      <mat-icon>home</mat-icon>Home
    </p>
    <p class="icon text" routerLink="/agendamentostattoo">
      <mat-icon>color_lens</mat-icon>Tattoo
    </p>
    <p class="icon text" routerLink="/agendamentospiercing">
      <mat-icon>panorama_fish_eye</mat-icon>Piercing
    </p>
    <p class="icon text" routerLink="/finalizados">
      <mat-icon>done_outline</mat-icon>Finalizados
    </p>
    <p class="icon text" routerLink="/home">
      <mat-icon>exit_to_app</mat-icon>Logout
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-icon (click)="opened = !opened"> menu </mat-icon>
      <div class="titulo">
        <p>Painel</p>
      </div>
      <div class="bt">
        <button class="button" mat-raised-button (click)="abreDialog()">
          Tattoo
        </button>
        <button class="button" mat-raised-button (click)="openDialog()">
          Piercing
        </button>
      </div>
    </mat-toolbar>
    <h1>Edite e confirme as informações sobre o agendamento</h1>
    <div class="card">
      <mat-card class="example-card">
        <mat-card-content>
              <mat-stepper orientation="horizontal">
                <mat-step>
                  <ng-template matStepLabel>Confirme as informações</ng-template>
                  <ng-template matStepContent>
                    <div class="container">
                      <div class="main">
                        <mat-form-field class="form-field" >
                          <mat-label>Nome</mat-label>
                          <input matInput [(ngModel)]="agendamentosTattoo.nome_cliente"
                          />
                        </mat-form-field>
                        <mat-form-field class="form-field">
                          <mat-label>Celular</mat-label>
                          <input matInput [(ngModel)]="agendamentosTattoo.telefone"/>
                        </mat-form-field>
                        <mat-form-field class="form-field">
                          <mat-label>Local</mat-label>
                          <input matInput [(ngModel)]="agendamentosTattoo.local_tatuagem"/>
                        </mat-form-field>
                      </div>
                      <div class="info">
                        <mat-form-field class="form-input">
                          <mat-label>Profissional</mat-label>
                          <input matInput [(ngModel)]="agendamentosTattoo.nome_profissional"/>
                        </mat-form-field>
                        <mat-form-field class="form-input">
                          <mat-label>Valor</mat-label>
                          <input matInput [(ngModel)]="agendamentosTattoo.valor"/>
                        </mat-form-field>
                        <mat-form-field class="form-input">
                          <mat-label>Estilo</mat-label>
                          <input matInput [(ngModel)]="agendamentosTattoo.estilo_tatuagem_id"/>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="buttons">
                      <div class="changes">
                        <button mat-raised-button matStepperPrevious class="previous" (click)="goBack()">
                          <mat-icon id="previous">navigate_before</mat-icon>VOLTAR
                        </button>
                        <button mat-raised-button matStepperNext class="next">
                          PRÓXIMO<mat-icon id="next">navigate_next</mat-icon>
                        </button>
                      </div>
                      <div class="delete">
                        <button mat-raised-button class="ondelete">
                          <mat-icon>delete</mat-icon>
                          CANCELAR AGENDAMENTO
                        </button>
                      </div>
                    </div>
                  </ng-template>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Selecione data e hora</ng-template>
                  <ng-template matStepContent>
                    <mat-form-field class="form-field" id="data">
                      <mat-label>Escolha uma data</mat-label>
                      <input
                        matInput
                        [matDatepickerFilter]="myFilter"
                        [matDatepicker]="picker"
                        [(ngModel)]="agendamentosTattoo.data"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="form-field" id="hora">
                      <mat-label>Escolha um hórario</mat-label>
                      <input matInput type="time" [(ngModel)]="agendamentosTattoo.horario"/>
                    </mat-form-field>
                    <div class="buttons">
                      <button mat-raised-button matStepperPrevious class="previous">
                        <mat-icon id="previous">navigate_before</mat-icon>VOLTAR
                      </button>
                      <button mat-raised-button class="submit">
                        <mat-icon>done_all</mat-icon>ENVIAR
                      </button>
                    </div>
                  </ng-template>
                </mat-step>
              </mat-stepper>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
