<body>
  <section class="main">
    <div class="container">
      <form method="post" #otp="ngForm">
        <div class="form-group">
          <h1>Preencha todos os campos</h1>
          <mat-form-field class="form-field">
            <mat-label>Nome</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Celular</mat-label>
            <input matInput>
          </mat-form-field>
      </div>
        <h1>Em dúvida sobre o lugar? De uma olhada na imagem abaixo:</h1>
        <img src="./.././../assets/novo_piercing.jpeg" />

        <mat-form-field class="form-field">
          <mat-label>Local</mat-label>
          <input matInput>
        </mat-form-field>
        <div>
          <button mat-raised-button [mat-dialog-close]="true" (click)="abreDialog()">
            Enviar
          </button>
          <button mat-raised-button [mat-dialog-close]>Cancelar</button>
        </div>
      </form>
    </div>
  </section>
</body>
