form {
  width: 500px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.form-field {
  display: flex;
  flex-direction: column;
}

label {
  display: inline-block;
  width: 90px;
}

input {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  margin-left: 45px;
  max-width: 80%;
  max-height: 60%;
}

.mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
}
