form {
  width: 500px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.form-field {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #c3bebe !important;
 }

 ::ng-deep.mat-form-field-underline {
  background-color: #c3bebe !important;
}

::ng-deep.mat-form-field-ripple {
 background-color: #c3bebe !important;;
}

.divider {
  padding-top: 5px;
  padding-bottom: 5px;
}

input {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
}

.mat-dialog-content {
  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  max-height: 65vh;
  overflow: initial;
}

.bt {
  display: flex;
  gap: 8px;
}

.save-button {
  background: #c3bebe;
}

.cancel-button:hover {
  background-color: red;
  color: white;
}
