@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

mat-toolbar {
  background-color: #7c7c7c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

span {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

.navBar {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
