<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <p class="icon text" routerLink="/dashboard">
      <mat-icon id="icon">home</mat-icon>Home
    </p>
    <p class="icon text" routerLink="/agendamentostattoo">
      <mat-icon id="icon">color_lens</mat-icon>Tattoo
    </p>
    <p class="icon text" routerLink="/agendamentospiercing">
      <mat-icon id="icon">panorama_fish_eye</mat-icon>Piercing
    </p>
    <p class="icon text" routerLink="/finalizados">
      <mat-icon id="icon">done_outline</mat-icon>Finalizados
    </p>
    <p class="icon text" (click)="logout()">
      <mat-icon id="icon">exit_to_app</mat-icon>Logout
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-icon (click)="opened = !opened"> menu </mat-icon>
      <div class="titulo">
        <p>Painel</p>
      </div>
      <div class="bt">
        <button class="button" mat-raised-button (click)="abreDialog()">
          Tattoo
        </button>
        <button class="button" mat-raised-button (click)="openDialog()">
          Piercing
        </button>
      </div>
    </mat-toolbar>
    <body>
      <div class="container">
        <mat-card id="central">
          <mat-toolbar> SERVIÇOS FINALIZADOS</mat-toolbar>
          <div class="card">
            <mat-card class="cards">
              <img
                class="imagem"
                mat-card-lg-image
                src="../../assets/images/tatto-home.png"
                alt="Botão para selecionar o agendamento para tattuagens"
              />
              <button
                class="button"
                mat-raised-button
                routerLink="/finalizados-tattoo"
              >
                Tattoo
              </button>
            </mat-card>
            <mat-card class="cards">
              <img
                class="imagem"
                mat-card-lg-image
                src="../../assets/images/lips-piercing.png"
                alt="Botão para selecionar o agendamento para piercings"
              />
              <button
                class="button"
                mat-raised-button
                routerLink="/finalizados-piercing"
              >
                Piercing
              </button>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </body>
  </mat-sidenav-content>
</mat-sidenav-container>
