mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: rgb(200, 200, 200);
  width: 180px;
}

mat-icon {
  margin-right: 6px;
  cursor: pointer;
}

.icon {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.text {
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: black;
}

mat-toolbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.form-field {
  display: flex;
  flex-direction: row;
  width: 25%;
}

.mat-accordion {
  display: grid;
  margin: auto;
  width: 50%;
  padding: 5px;
}

.titulo {
  margin-left: 8%;
  margin-top: 1%;
  text-transform: uppercase;
}

.bt {
  display: flex;
  gap: 10px;
}

table {
  width: 100%;
}

.container {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.card {
  width: 80%;
}
