<div class="container">
  <div class="image">
    <img src="./.././../assets/tattoo-login.jpg"/>
  </div>
  <div class="login-info">
    <div class="login">
      <label for="email">E-mail:
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          placeholder="Digite seu e-mail"
          required
        />
    </label>
      <label for="senha">Senha:
        <input
          type="password"
          id="senha"
          name="senha"
          class="form-control"
          placeholder="Digite sua senha"
          required
        />
    </label>
    <button mat-raised-button>LOGIN</button>
    </div>
  </div>
</div>

