<div class="container">
  <div class="image">
    <img src="./.././../assets/logo.png" />
  </div>
  <form class="login-info" [formGroup]="form">
    <div class="login">
      <label for="email"
        >E-mail:
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          placeholder="Digite seu e-mail"
          formControlName="email"
          required
        />
      </label>
      <label for="senha"
        >Senha:
        <input
          type="password"
          id="senha"
          name="senha"
          class="form-control"
          placeholder="Digite sua senha"
          formControlName="senha"
          required
        />
      </label>
      <button mat-raised-button [disabled]="!form.valid" (click)="login()">LOGIN</button>
    </div>
  </form>
</div>
