<body>
  <section class="main">
    <mat-dialog-content>
      <div class="container">
        <form [formGroup]="formTattoo" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <h1>Preencha todos os campos</h1>
            <mat-form-field class="form-field">
              <mat-label>Nome</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                name="nome_cliente"
                id="nome_cliente"
                formControlName="nome_cliente"
              />
              <mat-error
                *ngIf="formTattoo.get('nome_cliente')?.errors?.['required'] && formTattoo.get('nome_cliente')?.touched"
                >Campo obrigatório</mat-error
              >
            </mat-form-field>
            <div class="divider"></div>
            <mat-form-field class="form-field">
              <mat-label>Celular</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                name="telefone"
                id="telefone"
                [mask]="'(00)00000-0000'"
                formControlName="telefone"
              />
              <mat-error
                *ngIf="formTattoo.get('telefone')?.errors?.['required'] && formTattoo.get('telefone')?.touched"
                >Campo obrigatório</mat-error
              >
            </mat-form-field>
            <div class="divider"></div>
          </div>
          <h1>Em dúvida sobre o lugar? De uma olhada na imagem abaixo:</h1>
          <img src="./.././../assets/images/tattoo.jpg" />
          <mat-form-field class="form-field">
            <mat-label>Local</mat-label>
            <input
              matInput
              type="text"
              class="form-control"
              name="local_tatuagem"
              id="local_tatuagem"
              formControlName="local_tatuagem"
            />
            <mat-error
              *ngIf="formTattoo.get('local_tatuagem')?.errors?.['required'] && formTattoo.get('local_tatuagem')?.touched"
              >Campo obrigatório</mat-error
            >
          </mat-form-field>
          <div class="divider"></div>
          <div class="form-group">
            <h3>
              *Seu agendamento será enviado para a análise e dentro de 72H um
              membro de nossa equipe entrará em contato.
            </h3>
          </div>
          <div class="bt">
            <button
              type="submit"
              class="save-button"
              [disabled]="!formTattoo.valid"
              mat-raised-button
              [mat-dialog-close]="true"
            >
              Enviar
            </button>
            <button class="cancel-button" mat-raised-button [mat-dialog-close]>
              Cancelar
            </button>
          </div>
        </form>
        <br />
      </div>
    </mat-dialog-content>
  </section>
</body>
