<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orçamento - Tatuagem</title>
  </head>
  <body>
    <section class="main">
      <div class="container">
        <!-- <form method="post" #ott="ngForm" (ngSubmit)="orcamentoTattoo(ott)">
          <div class="form-group">
            <label for="name">Nome: </label>
            <input
              type="text"
              id="nome"
              name="nome"
              class="form-control"
              placeholder="Digite seu nome"
              [(ngModel)]="orcamento.nome"
              required
            />
          </div>
          <div class="form-group">
            <label for="cel">Cel: </label>
            <input
              type="number"
              id="numero"
              name="numero"
              class="form-control"
              placeholder="Digite seu numero"
              [(ngModel)]="orcamento.celular"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">E-mail: </label>
            <input
              type="text"
              id="email"
              name="email"
              class="form-control"
              placeholder="Digite seu e-mail"
              [(ngModel)]="orcamento.email"
              required
            />
          </div>
          <img src="./.././../assets/tattoo.jpg" />

          <div>
            <button mat-raised-button [mat-dialog-close]="true" type="submit">
              Salvar
            </button>
            <button mat-raised-button [mat-dialog-close]>Cancelar</button>
          </div>
        </form> -->
        <input type="file" (change)="uploadImage($event)" />
      </div>
    </section>
  </body>
</html>
