form {
  margin: auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

label {
  display: inline-block;
  width: 90px;
}

input {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

img {
  max-width: 500px;
  max-height: 360px;
}

h2 {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-submit-button {
  background: gray;
  color: white;
  border: 0ch;
  border-color: black;
  height: 40px;
  width: 65px;
  font: bold 15px Verdana, sans-serif;
  text-shadow: none;
}

p {
  margin-top: 5px;
}
