<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orçamento - Piercing</title>
  </head>
  <body>
    <form>
      <input>Nome:
      <input>Cel:
      <input>E-mail:
      <input type="radio"> Tragus
      <input type="radio"> Umbigo
      <input type="radio"> Septo
      <input type="radio"> Mãos
      <input type="radio"> Nariz
      <input type="radio"> Mamilos
      <input type="radio"> Lábios
      <input type="text"> Outros:
      <button type="submit">Salvar</button>
      <button type="submit">Cancelar</button>
    </form>
  </body>
</html>
