<router-outlet>
  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
      <p class="icon text" routerLink="/dashboard"><mat-icon>home</mat-icon>Home</p>
      <p class="icon text" routerLink="/agendamentostattoo"><mat-icon>color_lens</mat-icon>Tattoo</p>
      <p class="icon text" routerLink="/agendamentospiercing"><mat-icon>panorama_fish_eye</mat-icon>Piercing</p>
      <p class="icon text" routerLink="/home"> <mat-icon>exit_to_app</mat-icon>Logout</p>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <mat-icon (click)="opened = !opened"> menu </mat-icon>
        <div class="titulo">
          <p>Painel</p>
        </div>
        <div class="bt">
          <button class="button" mat-raised-button (click)="abreDialog()">
            Tattoo
          </button>
          <button class="button" mat-raised-button (click)="openDialog()">
            Piercing
          </button>
        </div>
      </mat-toolbar>
      <h1>Agendamentos Pendentes</h1>
    </mat-sidenav-content>
  </mat-sidenav-container>
</router-outlet>
