mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: gray;
  width: 180px;
}
mat-icon {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

h1 {
  padding: 15px;
  display: flex;
  justify-content: center
}

.form-field {
  display: flex;
  flex-direction: row;
  width: 25%;
}

.mat-accordion{
  display: grid;
  margin: auto;
  width: 50%;
  padding: 5px;
}

.bt {
  display: flex;
  gap: 10px;
}
