<router-outlet>
  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
      <p class="icon text" routerLink="/dashboard">
        <mat-icon>home</mat-icon>Home
      </p>
      <p class="icon text" routerLink="/agendamentostattoo">
        <mat-icon>color_lens</mat-icon>Tattoo
      </p>
      <p class="icon text" routerLink="/agendamentospiercing">
        <mat-icon>panorama_fish_eye</mat-icon>Piercing
      </p>
      <p class="icon text" routerLink="/finalizados">
        <mat-icon>done_outline</mat-icon>Finalizados
      </p>
      <p class="icon text" (click)="logout()" >
        <mat-icon>exit_to_app</mat-icon>Logout
      </p>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <mat-icon (click)="opened = !opened"> menu </mat-icon>
        <div class="titulo">
          <p>Painel</p>
        </div>
        <div class="bt">
          <button class="button" mat-raised-button (click)="abreDialog()">
            Tattoo
          </button>
          <button class="button" mat-raised-button (click)="openDialog()">
            Piercing
          </button>
        </div>
      </mat-toolbar>
      <div class="main">
        <div class="title">
          <mat-card id="card">
            <h1>Agendamentos Pendentes</h1>
            <div class="cards">
              <mat-card id="cards">
                <p id="cardTitle">Tattoo</p>
                <img
                  src="../../assets/images/tattoo-dashboard.jpg"
                  id="images"
                />
                <div class="buttons">
                  <button
                  mat-raised-button
                  routerLink="/agendamentostattoo"
                >
                  Acessar
                </button>
                </div>
              </mat-card>
              <mat-card id="cards">
                <p id="cardTitle">Piercing</p>
                <img
                  src="../../assets/images/piercing-dashboard.png"
                  id="images"
                />
                <div class="buttons">
                  <button mat-raised-button routerLink="/agendamentospiercing">
                    Acessar
                  </button>
                </div>
              </mat-card>
            </div>
          </mat-card>
        </div>
        <mat-card id="card">
          <h1>Finalizados</h1>
          <div class="divider">
            <div class="main">
              <mat-card id="cards">
                <p id="cardTitle">Serviços Finalizados</p>
                <img src="../../assets/images/done.jpg" id="images" />
                <div class="buttons">
                  <button mat-raised-button routerLink="/finalizados">
                    Acessar
                  </button>
                </div>
              </mat-card>
            </div>
          </div>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</router-outlet>
