<body>
  <header>
    <div class="caixa">
      <h1><img src="./assets/logo.png" /></h1>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/clientes">Clientes</a></li>
          <li><a routerLink="/contato">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <ul class="produtos">
      <li>
        <h2>Engrenagem</h2>
        <img src="./../../assets/engrenagem.jpg" />
        <p class="produto-descricao">EM CONSTRUÇÃO</p>
      </li>
      <li>
        <h2>Kitsune Tattoo</h2>
        <img src="./../../assets/kitsune.jpg" />
        <p class="produto-descricao">EM CONSTRUÇÃO</p>
      </li>
      <li>
        <a routerLink="/engrenagem">Wolfox</a>
        <img src="./../../assets/wolfox.jpg" />
        <p class="produto-descricao">EM CONSTRUÇÃO</p>
      </li>
    </ul>
  </main>

  <footer>
    <img src="./../../assets/logo-branco.png" />
    <p class="copyright">&copy; Copyright SmartInk - 2022</p>
  </footer>
</body>
<router-outlet></router-outlet>
