<!DOCTYPE html>
<html lang="en">
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#about">Sobre</a>
        <a href="#ourteam">Equipe</a>
        <a href="#ourcustomers">Clientes</a>
      </nav>
    </header>
    <section class="home" id="home">
      <div class="content">
        <h3>SmartInk</h3>
      </div>
    </section>
    <section class="about" id="about">
      <h1 class="heading"><span>Sobre</span> a SmartInk</h1>

      <div class="row">

        <div class="content">
          <p>
            O projeto SmartInk foi pensado por alunos do curso Análise e
            Desenvolvimento de Sistemas para finalização de curso.
          </p>
          <p>
            A ideia é que Tatuadores e BodyPiercings tenham um sistema onde
            possam controlar o fluxo de clientes e seus agendamentos.
          </p>
          <p>
            Nosso sistema visa otimização e automação na vida desses
            profissionais!
          </p>
        </div>
      </div>
    </section>
    <section class="menu" id="ourteam">
      <h1 class="heading"><span>Nosso Time</span></h1>

      <div class="box-container">
        <div class="box">
          <img src="../../assets/images/Davi.jpeg" alt="" />
          <h3>Davi Soares</h3>
          <br />
          <div class="price">Front-End<span></span></div>
        </div>

        <div class="box">
          <img src="../../assets/images/Tauane.jpeg" alt="" />
          <h3>Tauane Lima</h3>
          <br />
          <div class="price">Front-End <span></span></div>
        </div>

        <div class="box">
          <img src="../../assets/images/matheus.jpg" alt="" />
          <h3>Matheus Alcantara</h3>
          <br />
          <div class="price">Back-End <span></span></div>
        </div>

        <div class="box">
          <img src="../../assets/images/renan.jpeg" alt="" />
          <br />
          <h3>Renan Santana</h3>
          <div class="price">Back-End <span></span></div>
        </div>

        <div class="box">
          <img src="../../assets/images/rodrigo.jpeg" alt="" />
          <br />
          <h3>Rodrigo Pereira</h3>
          <div class="price">Documentação <span></span></div>
        </div>

        <div class="box">
          <img src="../../assets/images/bruno.jpg" alt="" />
          <h3>Bruno Shimamoto</h3>
          <br />
          <div class="price">Documentação<span></span></div>
        </div>
      </div>
    </section>
    <section class="products" id="ourcustomers">
      <h1 class="heading">Nossos <span>Clientes</span></h1>

      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="../../assets/images/wolfox.jpeg" alt="" />
          </div>
          <div class="content">
            <div class="price"><a routerLink="/skulltattoo">Skull Tattoo</a><span></span></div>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="../../assets/images/Bruna.jpeg" alt="" />
          </div>
          <div class="content">
            <div class="price">Bruna Machado<span></span></div>c
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
      <div class="credit"><span>SmartInk</span> | all rights reserved</div>
    </section>
  </body>
</html>
